services:
  backend:
    extends:
      file: ./homepage_init_backend/docker-compose.yml
      service: backend
    networks:
      - app-net
    depends_on:
      rabbitmq:
        condition: service_healthy

  db:
    extends:
      file: ./homepage_init_backend/docker-compose.yml
      service: db
    networks:
      - app-net

  pgadmin:
    extends:
      file: ./homepage_init_backend/docker-compose.yml
      service: pgadmin
    networks:
      - app-net

  flyway:
    extends:
      file: ./homepage_init_backend/docker-compose.yml
      service: flyway
    networks:
      - app-net

  rabbitmq:
    image: rabbitmq:3-alpine
    networks:
      - app-net
    environment:
      - RABBITMQ_DEFAULT_USER=guest
      - RABBITMQ_DEFAULT_PASS=guest
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "ping"]
      interval: 5s
      timeout: 5s
      retries: 10

  bot:
    extends:
        file: ./homepage_init_bot/docker-compose.yml
        service: bot
    networks:
      - app-net
    depends_on:
      rabbitmq:
        condition: service_healthy
      backend:
        condition: service_healthy

  redis:
    image: redis:7
    networks:
      - app-net

networks:
  app-net:
